/* line 9, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel, .accordion-slider .as-panel .as-panel-head {
  -webkit-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

/* line 16, ../../sass/AccordionSlider.scss */
.accordion-slider {
  background: white;
  height: 700px;
  width: 100%;
}
/* line 21, ../../sass/AccordionSlider.scss */
.accordion-slider .as-holder {
  display: block;
  height: 100%;
}
/* line 26, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panels {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 32, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  overflow: hidden;
  color: black;
}
/* line 42, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel .as-panel-head {
  position: absolute;
  background: white;
  color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}
/* line 54, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel .as-panel-head .as-head-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
}
/* line 61, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel .as-panel-head .as-head-inner h1 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}
/* line 70, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel .as-panel-image {
  height: 100%;
  width: auto;
}
/* line 74, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel .as-panel-image img {
  width: auto;
  height: 100%;
}
/* line 81, ../../sass/AccordionSlider.scss */
.accordion-slider .as-panel[expanded="true"] .as-panel-head {
  opacity: 0;
}
/* line 89, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="horizontal"] .as-panel .as-panel-head {
  -webkit-box-shadow: inset -20px 10px 50px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset -20px 10px 50px 10px rgba(0, 0, 0, 0.05);
  box-shadow: inset -20px 10px 50px 10px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset -20px 10px 50px 10px rgba(0, 0, 0, 0.05);
}
/* line 95, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="horizontal"] .as-panel .as-panel-head .as-head-inner {
  min-width: 300px;
}
/* line 98, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="horizontal"] .as-panel .as-panel-head .as-head-inner h1 {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
/* line 110, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="vertical"] .as-panel {
  width: 100%;
  height: auto;
  display: block;
}
/* line 115, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="vertical"] .as-panel .as-panel-head {
  -webkit-box-shadow: inset 0 -10px 40px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 -10px 40px 10px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 -10px 40px 10px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 -10px 40px 10px rgba(0, 0, 0, 0.05);
}
/* line 122, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="vertical"] .as-panel .as-panel-head .as-head-inner h1 {
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
}
/* line 131, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="vertical"] .as-panel .as-panel-image {
  height: auto;
  width: 100%;
}
/* line 135, ../../sass/AccordionSlider.scss */
.accordion-slider[data-orientation="vertical"] .as-panel .as-panel-image img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
